// Заголовки, общие БЄМ блоки и проче...
.subtitle {
	@include adaptiveValue("font-size", 18, 15);
	color: #ffcc00;
	text-transform: uppercase;
	text-align: center;
}
// .team__title
.title {
	position: relative;
	@include adaptiveValue("font-size", 55, 35);
	line-height: 1.49; /* 82/55 */
	color: #000;
	text-align: center;
	&:not(:last-child) {
		@include adaptiveValue("margin-bottom", 25, 15);
	}
	&::after {
		content: "";
		position: absolute;
		width: 18%;
		border: 4px solid #ffcc00;
		bottom: rem(-25);
		left: 50%;
		transform: translate(-50%, 0%);
		@media (max-width:$mobileSmall){
			width: 28%;
		}
	}
}

.button { // в common.scss
	display: inline-block;//
	font-size: rem(14);//
	line-height: 1.50; /* 21/14 */
	font-weight: 700;
	color: #fff;//
	text-transform: uppercase;
	background: #FFCC00;
	padding: rem(14) rem(46);
	cursor: pointer;
	top: 0;
	transition: all 0.3s ease 0s;
	&:hover {
		background:#e7c331;
	}
	&:active {
		background:#e7c331;
		top: rem(3);
	}
	@media (max-width: $tablet) {
		padding: rem(10) rem(20);
	}
}