.page {
	// .page__categories
	&__categories {
	}
	// .page__servises
	&__servises {
	}
	// .page__outlet
	&__outlet {
	}
	// .page__delivery
	&__delivery {
	}
	// .page__team
	&__team {
	}
	// .page__discount
	&__discount {
	}
	// .page__partners
	&__partners {
	}
}
//====================================================================================================

//========================================================================================================================================================
// .page__categories
.categories {
	@include adaptiveValue("padding-top", 77, 40);
	@include adaptiveValue("padding-bottom", 65, 40);
	// .categories__container
	&__container {
	}
	// .categories__inner
	&__inner {
	}
	// .categories__subtitle
	&__subtitle {
		@include adaptiveValue("font-size", 18, 15);
		color: #ffcc00;
		text-transform: uppercase;
		text-align: center;
		&:not(:last-child) {
			margin-bottom: rem(3);
		}
	}
	// .categories__title
	&__title {
		position: relative;
		@include adaptiveValue("font-size", 55, 35);
		font-weight: 600;
		line-height: 1.49; /* 82/55 */
		color: #000;
		text-align: center;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 130, 50);
		}
	}
	// .categories__content
	&__content {
	}
	// .categories__item
	&__item {
		display: flex;
		justify-content: space-between;
		gap: rem(30);
		@media (max-width: $tablet) {
			flex-wrap: wrap;
			justify-content: center;
		}
	}
	// .categories__card
	&__card {
		display: flex;
		flex-direction: column;
		text-align: center;
		@media (max-width: $tablet) {
			flex: 0 1 45%;
		}
		@media (max-width: rem(676)) {
			flex: 0 1 90%;
		}
	}
	// .categories__image
	&__image {
		max-width: rem(278);
		@media (max-width: $tablet) {
			max-width: rem(450);
		}
		@media (max-width: rem(676)) {
			max-width: rem(570);
		}
		// filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
		img {
			width: 100%;
			height: 100%;
		}
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 37, 10);
		}
	}
	// .categories__name
	&__name {
		font-size: rem(24);
		line-height: 1.50; /* 36/24 */
		font-weight: 700;
	}
	// .categories__desc
	&__desc {
		font-size: rem(20);
		line-height: 1.50; /* 30/20 */
		font-weight: 600;
	}
}


//========================================================================================================================================================
// .page__servises
.servises {
	@include adaptiveValue("padding-top", 43, 25);
	@include adaptiveValue("padding-bottom", 59, 30);
	background: #ffcc00;
	// .servises__container
	&__container {
	}
	// .servises__content
	&__content {
	}
	// .servises__items
	&__items {
		display: flex;
		justify-content: space-between;
		gap: rem(30);
		@media (max-width: $tablet) {
			flex-wrap: wrap;
			justify-content: center;
		}
	}
	// .servises__column
	&__column {
		display: flex;
		flex-direction: column;
		@media (max-width: $tablet) {
			flex: 0 1 45%;
		}
		@media (max-width: rem(676)) {
			flex: 0 1 90%;
		}
	}
	// .servises__item
	&__item {
		//background: #f89d9d;
	}
}

.item-servises {
	height: 100%; // чтобы карточки были одной высоты независимо от количества текста
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding-bottom: rem(30);
	color: #fff;
	// .item-servises__icon
	&__icon {
		display: flex;
		text-align: center;
		justify-content: center;
		background-color: #eef2ff;
		border-radius: 50%;
		width: rem(115);
		height: rem(115);
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 42, 20);
		}
	}
	// .item-servises__title
	&__title {
		max-width: rem(171);
		font-size: rem(20);
		font-weight: 700;
		line-height: 1.5;
		&:not(:last-child) {
			margin-bottom: rem(22);
		}
	}
	// .item-servises__text
	&__text {
		font-size: rem(17);
		font-weight: 600;
		line-height: 1.53; /* 26/17 */
	}
}

//========================================================================================================================================================
// .page__outlet
.outlet {
	@include adaptiveValue("padding-top", 76, 35);
	@include adaptiveValue("padding-bottom", 44, 20);
	background: #f5f5f5;
	// .outlet__container
	&__container {
	}
	// .outlet__inner
	&__inner {
		font-weight: 600;
		color: $mainColor;
		line-height: 1.5;
	}
	// .outlet__subtitle
	&__subtitle {
		@include adaptiveValue("font-size", 18, 15);
		color: #ffcc00;
		text-transform: uppercase;
		text-align: center;
		&:not(:last-child) {
			margin-bottom: rem(3);
		}
	}
	// .outlet__title
	&__title {
		@include adaptiveValue("font-size", 55, 35);
		line-height: 1.49; /* 82/55 */
		color: #000;
		text-align: center;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 25, 15);
		}
	}
	// .outlet__content
	&__content {
	}
	// .outlet__item
	&__item {
		display: flex;
		justify-content: space-between;
		gap: rem(30);
		@media (max-width: $tablet) {
			flex-wrap: wrap;
			justify-content: center;
		}
	}
	// .outlet__card
	&__card {
		display: flex;
		flex-direction: column;
		@media (max-width: $tablet) {
			flex: 0 1 45%;
		}
		@media (max-width: rem(676)) {
			flex: 0 1 90%;
			//justify-content: center;
		}
	}
	// .outlet__image
	&__image {
		max-width: rem(420);
		border-radius: rem(10);
		overflow: hidden;
		img {
			width: 100%;
			height: 100%;
		}
		@media (max-width: $tablet) {
			max-width: rem(450);
		}
		@media (max-width: rem(676)) {
			max-width: rem(570);
		}
	}
	// .outlet__location
	&__location {
		text-align: center;
		margin-top: rem(20);
		&:not(:last-child) {
			margin-bottom: rem(10);
		}
	}
	// .outlet__address
	&__address {
		text-align: center;
		font-size: rem(20);
		font-weight: 700;
	}
}

//========================================================================================================================================================
// .page__delivery
.delivery {
	@include adaptiveValue("padding-top", 108, 50);
	@include adaptiveValue("padding-bottom", 68, 40);
	// .delivery__container
	&__container {
	}
	// .delivery__inner
	&__inner {
		display: flex;
		justify-content: center;
		gap: rem(30);
		align-items: center;
		@media (max-width: $tablet) {
			flex-direction: column;
		}
	}
	// .delivery__item
	&__item {
		flex: 0 1 50%;
	}
	// .delivery__block
	&__block {
	}
	// .delivery__subtitle
	&__subtitle {
		@include adaptiveValue("font-size", 18, 15);
		color: #ffcc00;
		text-transform: uppercase;
		text-align-last: left;
	}
	// .delivery__title
	&__title {
		position: relative;
		@include adaptiveValue("font-size", 55, 35);
		line-height: 1.49; /* 82/55 */
		font-weight: 600;
		color: #000;
		text-align-last: left;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 25, 15);
		}
		&::after {
			content: "";
			position: absolute;
			width: 30%;
			border: 4px solid #ffcc00;
			bottom: rem(-25);
			left: 0%;
			transform: translate(0%, 0%);
			@media (max-width: $mobileSmall) {
				width: 28%;
			}
		}
	}
	// .delivery__desc
	&__desc {
		font-size: rem(26);
		font-weight: 600;
		line-height: 1.5; /* 39/26 */
		margin-top: rem(40);
		&:not(:last-child) {
			margin-bottom: rem(16);
		}
	}
	// .delivery__text
	&__text {
		font-size: rem(17);
		line-height: 1.53; /* 26/17 */
		&:not(:last-child) {
			margin-bottom: rem(40);
		}
	}
	// .delivery__services
	&__services {
	}
	// .delivery__image
	&__image {
		max-width: rem(585);
		img {
			width: 100%;
			height: 100%;
		}
	}
}

.services {
	display: flex;
	gap: rem(30);
	justify-content: center;
	@media (max-width: $mobileSmall) {
		flex-direction: column;
	}
	// .services__card
	&__card {
		flex: 0 1 50%;
		max-width: rem(277);
		@media (max-width: $tablet) {
			max-width: rem(400);
			margin-bottom: rem(25);
		}
	}
	// .services__logo
	&__logo {
		width: rem(100);
		height: rem(100);
		img {
			width: 100%;
			height: 100%;
		}
	}
	// .services__title
	&__title {
		font-size: rem(20);
		font-weight: 600;
		line-height: 1.5; /* 30/20 */
		margin-top: rem(19);
		&:not(:last-child) {
			margin-bottom: rem(8);
		}
	}
	// .services__desc
	&__desc {
		font-size: rem(17);
		line-height: 1.53; /* 26/17 */
	}
}

//========================================================================================================================================================
// .page__team
.team {
	@include adaptiveValue("padding-top", 77, 40);
	@include adaptiveValue("padding-bottom", 65, 40);
	// .team__container
	&__container {
	}
	// .team__inner
	&__inner {
		font-weight: 600;
		color: $mainColor;
		line-height: 1.5;
	}
	// .team__subtitle
	&__subtitle {
		@include adaptiveValue("font-size", 18, 15);
		color: #ffcc00;
		text-transform: uppercase;
		text-align: center;
		&:not(:last-child) {
			margin-bottom: rem(3);
		}
	}
	// .team__title
	&__title {
		position: relative;
		@include adaptiveValue("font-size", 55, 35);
		font-weight: 600;
		line-height: 1.49; /* 82/55 */
		color: #000;
		text-align: center;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 25, 15);
		}
		&::after {
			content: "";
			position: absolute;
			width: 18%;
			border: 4px solid #ffcc00;
			bottom: rem(-25);
			left: 50%;
			transform: translate(-50%, 0%);
			@media (max-width: $mobileSmall) {
				width: 28%;
			}
		}
	}
	// .team__content
	&__content {
		@include adaptiveValue("margin-top", 84, 50);
	}
	// .team__item
	&__item {
		display: flex;
		justify-content: space-between;
		gap: rem(30);
		@media (max-width: $tablet) {
			flex-wrap: wrap;
			justify-content: center;
		}
	}
	// .team__card
	&__card {
		display: flex;
		flex-direction: column;
		@media (max-width: $tablet) {
			flex: 0 1 45%;
		}
		@media (max-width: rem(676)) {
			flex: 0 1 90%;
		}
	}
	// .team__image
	&__image {
		max-width: rem(278);
		@media (max-width: $tablet) {
			max-width: rem(450);
		}
		@media (max-width: rem(676)) {
			max-width: rem(570);
		}
		// filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
		img {
			width: 100%;
			height: 100%;
			filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
		}
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 37, 10);
		}
	}
	// .team__name
	&__name {
		font-size: rem(24);
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 13, 0);
		}
	}
	// .team__speciality
	&__speciality {
		font-size: rem(20);
	}
}

//========================================================================================================================================================
// .page__discount
.discount {
	@include adaptiveValue("padding-top", 65, 40);
	@include adaptiveValue("padding-bottom", 135, 60);
	background: linear-gradient(91.02deg, #ffcc00 17.25%, rgba(255, 204, 0, 0) 178.38%);
	// .discount__container
	&__container {
	}
	// .discount__inner
	&__inner {
		display: flex;
		justify-content: space-between;
		column-gap: rem(30);
		align-items: center;
		@media (max-width: $mobile) {
			flex-direction: column;
			row-gap: rem(50);
		}
	}
	// .discount__item
	&__item {
	}
	// .discount__block
	&__block {
		color: #fff;
	}
	// .discount__title
	&__title {
		@include adaptiveValue("font-size", 55, 35);
		font-weight: 700;
		line-height: 1.49; /* 82/55 */
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 32, 20);
		}
	}
	// .discount__text
	&__text {
		@include adaptiveValue("font-size", 26, 20);
		font-weight: 600;
		line-height: 1.5; /* 39/26 */
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 73, 30);
		}
	}
	// .discount__logos
	&__logos {
		display: flex;
		column-gap: rem(12);
		@media (max-width: rem(390)) {
			flex-direction: column;
			row-gap: rem(15);
		}
	}
	// .discount__logo
	&__logo {
		max-width: rem(176);
		min-height: rem(55);
	}
	// .discount__image
	&__image {
		// filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
		img {
			width: 100%;
			height: 100%;
			filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
		}
	}
}

//====================================================================================================
// .partners
.partners {
	@include adaptiveValue("padding-top", 75, 40);
	@include adaptiveValue("padding-bottom", 75, 40);
	// .partners__container
	&__container {
	}
	// .partners__inner
	&__inner {
		display: flex;
		justify-content: space-between;
		column-gap: rem(30);
		@media (max-width: $mobile) {
			flex-wrap: wrap;
			justify-content: center;
			gap: rem(50);
		}
	}
	// .partners__item
	&__item {
		width: rem(278);
		height: auto;
		img {
			width: 100%;
			height: 100%;
		}
	}
}
